
<h1>My First Angular Application</h1>

<!-- <app-course></app-course> -->
<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding>
<h5>Class Binding Close</h5>
<hr>
<h5>New Component Start</h5>
<hr>
<app-event-binding></app-event-binding> -->

<!-- <app-doubt-databinding></app-doubt-databinding> -->
<!-- <app-eventbindingpart2></app-eventbindingpart2> -->

<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<app-parent></app-parent>
