<p>tdf works!</p>

<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">

            <form #f="ngForm" >
                {{f.value | json}}
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" class="form-control"
                    placeholder="Enter the Username"
                    ngModel name="username"
                    #username="ngModel" 
                   minlength="4" 
                   pattern="admin"
                    required
                    >
                <div *ngIf="username.touched && !username.valid" class="alert alert-danger"> ** Please Enter the Username
                    <div *ngIf="username.errors.minlength">** Please Enter minimum length is {{username.errors.minlength.requiredLength}}
                    </div>
                    <div *ngIf="username.errors.pattern"> ** please Enter the Appropriate Pattern

                    </div>

                </div>

                </div>

                <div class="form-group">
                    <label for="">Comment</label>
                    <textarea #comment="ngModel" ngModel name="comment"  cols="20" rows="8" class="form-control" required>
                    </textarea>

                    <div *ngIf="comment.touched && comment.invalid" class="alert alert-danger"> ** Please enter the Comment
                    </div>
                </div>

                <div class="checkbox">
                    <label for="">
                      <input type="checkbox" ngModel name="issubscribed"  #mail="ngModel" required> I Agree All the Terms & Conditions.
                    </label>                            
                  </div>

                  <div class="radio">
                    <label for="con">
                      <input ngModel #contact="ngModel" type="radio" name="con" id="con" value="email" required > Email
                    </label>
                  </div>
                <div class="radio">
                    <label for="con1">
                      <input ngModel #contact="ngModel" type="radio" name="con" id="con1" value="phone" required > Phone
                    </label> 
                  </div>
                 
                  <div class="form-group">
                    <label for="contact">contact Method</label>
                    <select ngModel name="contact" id="contact" class="form-control"  required>
                     <!-- <option *ngFor="let item of contactMethod" [value]="item.id">{{item.name}} </option> -->

                     <option *ngFor="let item of contactMethod" [ngValue]="item">{{item.name}} </option>

                    </select> 
                  </div>



                <button class="btn btn-success" [disabled]="!f.valid">Submit</button>
            </form>


        </div>

    </div>

</div>
