<p>tdf works!</p>

<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">

            <form #f="ngForm" (ngSubmit)="onSubmit(f)" >
                {{f.value | json}}
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" class="form-control"
                    placeholder="Enter the Username"
                    ngModel name="username"
                    #username="ngModel" 
                   minlength="4" 
                   pattern="admin"
                    required
                    >
                <div *ngIf="username.touched && !username.valid" class="alert alert-danger"> ** Please Enter the Username
                    <div *ngIf="username.errors.minlength">** Please Enter minimum length is {{username.errors.minlength.requiredLength}}
                    </div>
                    <div *ngIf="username.errors.pattern"> ** please Enter the Appropriate Pattern

                    </div>

                </div>

                </div>

                <div class="form-group">
                    <label for="">Comment</label>
                    <textarea #comment="ngModel" ngModel name="comment"  cols="20" rows="8" class="form-control" required>
                    </textarea>

                    <div *ngIf="comment.touched && comment.invalid" class="alert alert-danger"> ** Please enter the Comment
                    </div>
                </div>

                <div class="checkbox">
                    <label for="">
                      <input type="checkbox" ngModel name="issubscribed"  #mail="ngModel" required> I Agree All the Terms & Conditions.
                    </label>                            
                  </div>

                  <div class="radio">
                    <label for="con">
                      <input ngModel #contact="ngModel" type="radio" name="con" id="con" value="email" required > Email
                    </label>
                  </div>
                <div class="radio">
                    <label for="con1">
                      <input ngModel #contact="ngModel" type="radio" name="con" id="con1" value="phone" required > Phone
                    </label> 
                  </div>
                 
                  <div class="form-group">
                    <label for="contact">contact Method</label>
                    <select ngModel name="contact" id="contact" class="form-control"  required>
                     <!-- <option *ngFor="let item of contactMethod" [value]="item.id">{{item.name}} </option> -->

                     <option *ngFor="let item of contactMethod" [ngValue]="item">{{item.name}} </option>

                    </select> 
                  </div>

                  <div class="form-group">
                    <label for="myemail">Email Id</label>
                    <input ngModel #email="ngModel" type="email" name="email"  id="myemail" class="form-control"                     
                    placeholder="Enter the Email ID...."                 
                    [pattern]="EMAIL_PATTERN"
                    required>                  
                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid " >Please Enter the Email ID                      
                        <div *ngIf="email.errors.pattern">
                            ** Please Enter the Appropriate Email ID
                        </div>

                    </div>
                </div>


                <button class="btn btn-success" [disabled]="!f.valid">Submit</button> 
                <!-- <button class="btn btn-success"> Login </button> -->
                <input type="button"  value="Login2" class="btn btn-success"> 

                <input type="submit"  value="Login3" class="btn btn-success"> 

                <input type="reset" value="Reset" class="btn btn-success">


                
            </form>


        </div>

    </div>

</div>
